@inherits UmbracoTemplatePage<ContentModels.Blog>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<main class="sticky-footer-container-item --pushed">
    <div class="container top-space">
        @{
            IPublishedContent current = (CurrentPage);
            Stack<dynamic> pages = new Stack<dynamic>();
            while (current.Level > 1)
            {
                pages.Push(current);
                current = current.Parent;
            }
        }

        <ul class="breadcrumb block">
            <li><a href="/"><span class="fa fa-home"></span></a></li>
            @foreach (var page in pages)
            {
                var cls = page.Id == CurrentPage.Id ? "current" : "";
                if (page.DocumentTypeId != 1237){
                    <li class="@cls"><a href="@page.Url">@page.Name</a></li>                    
                } else {
                    <li class="@cls"><a href="" class="disable"><span>@page.Name</span></a></li>
                }
            }
        </ul>
        <div class="page-title-container">
            <h1 class="page-title">@CurrentPage.Name</h1>
        </div>
        @Umbraco.RenderMacro("latestBlogposts",
                     new
                     {
                         numberOfPosts = Model.Content.HowManyPostsShouldBeShown,
                         startNodeId = Model.Content.Id
                     })
        <!-- todo: implement paging -->
        <!--
        <nav class="nav-bar nav-bar--center">
            <a class="nav-link nav-link--black" href="">Prev</a>
            <a class="nav-link nav-link--black nav-link--active" href="">P1</a>
            <a class="nav-link nav-link--black" href="">P2</a>
            <a class="nav-link nav-link--black" href="">P3</a>
            <a class="nav-link nav-link--black" href="">P4</a>
            <a class="nav-link nav-link--black" href="">P5</a>
            <a class="nav-link nav-link--black" href="">Next</a>
        </nav>
        -->
    </div>   
</main>