@using System.Configuration
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<main class="sticky-footer-container-item --pushed" ng-controller="FinancialReportController as annoucnementCtrl">
    <div class="container top-space">
        @{
            IPublishedContent current = (CurrentPage);
            Stack<dynamic> pages = new Stack<dynamic>();
            while (current.Level > 1)
            {
                pages.Push(current);
                current = current.Parent;
            }
        }

        <ul class="breadcrumb block">
            <li><a href="/"><span class="fa fa-home"></span></a></li>
            @foreach (var page in pages)
            {
                var cls = page.Id == CurrentPage.Id ? "current" : "";
                if (page.DocumentTypeId != 1237){
                    <li class="@cls"><a href="@page.Url">@page.Name</a></li>                    
                } else {
                    <li class="@cls"><a href="" class="disabled"><span>@page.Name</span></a></li>
                }
            }
        </ul>
        <div class="page-title-container">
            <h1 class="page-title">@Umbraco.TypedContent(CurrentPage.Id).PageTitle</h1>
        </div>
        <div action="" class="block-double">
            <div class="block flex v-center">
                <span class="form-label-financial-report">@Umbraco.GetDictionaryValue("type of financial report")</span>
                <div class="form-radio form-radio--inline">
                    <input type="radio" class="form-input-custom-bullet" id="tofr1" name="financialReportType" checked value="rdf">
                    <label for="tofr1" class="">@Umbraco.GetDictionaryValue("financial report")</label>
                </div>
                <div class="form-radio form-radio--inline">
                    <input type="radio" class="form-input-custom-bullet" id="tofr2" name="financialReportType" value="rda">
                    <label for="tofr2" class="">@Umbraco.GetDictionaryValue("annual report")</label>
                </div>
            </div>
            <div class="block flex v-center">
                <span class="form-label-financial-report">@Umbraco.GetDictionaryValue("type of exchange")</span>
                <div class="form-radio form-radio--inline">
                    <input type="radio" class="form-input-custom-bullet" id="toe1" name="financialExchangeType" checked value="s">
                    <label for="toe1" class="">@Umbraco.GetDictionaryValue("stock")</label>
                </div>
                <div class="form-radio form-radio--inline">
                    <input type="radio" class="form-input-custom-bullet" id="toe2" name="financialExchangeType" value="o">
                    <label for="toe2" class="">@Umbraco.GetDictionaryValue("bonds")</label>
                </div>
            </div>
            <div class="block flex v-center">
                <span class="form-label-financial-report">@Umbraco.GetDictionaryValue("code company name")*</span>
                <div class="option-box width-block">
                    <select name="" id="emitenList" class="form-option form-input--block"></select>
                </div>
            </div>
            <div class="block flex v-center">
                <span class="form-label-financial-report">@Umbraco.GetDictionaryValue("year")</span>
                <div class="option-box">
                    <select name="" id="yearList" class="form-option-basic finance-report">
                    </select>
                </div>
            </div>
            <div id="periodContainer" class="block flex v-center">
                <span class="form-label-financial-report">Period</span>
                <div class="option-box">
                    <select name="" id="periodList" class="form-option-basic finance-report">
                        <option value="tw1">Triwulan 1</option>
                        <option value="tw2">Triwulan 2</option>
                        <option value="tw3">Triwulan 3</option>
                        <option value="audit">@Umbraco.GetDictionaryValue("yearly")</option>
                    </select>
                </div>
            </div>
            <div class="block flex v-center">
                <span class="form-label-financial-report">&nbsp;</span>
                <button id="searchButton" class="btn btn-primary">@Umbraco.GetDictionaryValue("search")</button>
            </div>
        </div>
        <div class="disclaimer-container block-double">
            <span class="disclaimer-text">*@Umbraco.GetDictionaryValue("enter company code or name")</span>
            <span class="disclaimer-text">*@Umbraco.GetDictionaryValue("disclaimer add semicolon")</span>
            <span class="disclaimer-text">*@Umbraco.GetDictionaryValue("leave the field blank")</span>
        </div>
    </div>
    <div class="main-content content-push">
        <div class="container">
            <div class="grid-container block">
                <div class="loader-box" ng-class="{'is-active' : loading}">
                    <div class="loader-container">
                        <img src="/assets/img/ajax-loader.gif" alt="">
                    </div>
                </div>
                <div class="grid-2 financial-report-item" dir-paginate="res in users | itemsPerPage: limit" total-items="totalUsers" current-page="pagination.current">
                    <div class="financial-report-container">
                        <time class="financial-report-date">{{res.File_Modified | date:'dd MMMM yyyy HH:mm:ss'}}</time>
                        <dl class="financial-report-list cf">
                            <dt class="financial-report-title">Company Code</dt>
                            <dd class="financial-report-description">{{res.KodeEmiten}}</dd>
                            <dt class="financial-report-title">Company Name</dt>
                            <dd class="financial-report-description">{{res.NamaEmiten || "-"}}</dd>
                            <dt class="financial-report-title">Year</dt>
                            <dd class="financial-report-description">{{res.Report_Year}}</dd>
                            <dt class="financial-report-title">Period</dt>
                            <dd class="financial-report-description">{{res.Report_Period || "-"}}</dd>
                            <dt class="financial-report-title">Report</dt>
                            <dd class="financial-report-description">
                                <div class="financial-report-download" ng-repeat="attachments in res.Attachments">
                                    <a href="{{attachments.File_Path}}" target="_blank">{{attachments.File_Name}}</a>
                                </div>
                            </dd>
                        </dl>                        
                    </div>
                </div>
            </div>
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>            
        </div>        
    </div>
</main>

@section Scripts {
    <script>
        const app = angular.module('app', ['angularUtils.directives.dirPagination'])
        app.controller('FinancialReportController', ['$scope', '$http', function($scope, $http){

            $scope.users = [];
            $scope.totalUsers = 0;
            $scope.currentPage = 1;
            $scope.limit = 10;
            $scope.loading = false;
            getResultsPage(1);

            $scope.pagination = {
                current: 1
            };

            var currentYear = moment().format('YYYY');

            for (var i = 0; i < @ConfigurationManager.AppSettings["maxYear"]; i++) {
                $('#yearList').append('<option value="' + (currentYear - i) + '">' + (currentYear - i) + '</option>');
            }
            $('#yearList').append('<option value="' + 0 + '">@Umbraco.GetDictionaryValue("others")</option>');

            $('input[name="financialReportType"]').on('click', function(e){
                if($(this).val() === 'rda'){
                    $('#periodContainer').hide();
                } else{
                    $('#periodContainer').show();
                }
            });

            $('#emitenList').select2({
                'multiple': true,
                'placeholder': '@Umbraco.GetDictionaryValue("enter company code or name")',
                'allowClear': true,
                'templateSelection': formatSelection
            });

            getEmitenList();

            $('#searchButton').on('click', function(e){
                getResultsPage(0);
            });

            $('input[name="financialExchangeType"]').on('click', function(e){
                getEmitenList();
            });

            $scope.pageChanged = function(newPage) {
                getResultsPage(newPage);
            };

            function getEmitenList(){
                var emitenType = $('input[name="financialExchangeType"]:checked').val();
                $('#emitenList').empty();

                $.getJSON('@Url.Action("GetEmiten", "Helper")?emitenType=' + emitenType, function (result){
                    $('#emitenList').append('<option value="">' + "@Umbraco.GetDictionaryValue("choose emiten")" + '</option>');
                    for (var i = 0; i < result.length; i++) {
                        $('#emitenList').each(function(){
                            $(this).append('<option value="' + result[i].KodeEmiten + '">' + result[i].KodeEmiten + ' - ' + result[i].NamaEmiten + '</option>');
                        });
                    }
                });
            }

            function formatSelection(val) {
              return val.id;
            }

            function getResultsPage(pageNumber) {
                $scope.loading = true;
                var reportType = $('input[name="financialReportType"]:checked').val();
                var selectedYear = $('#yearList option:selected').text();
                var emitenCode = '';
                var selectedEmitenType = $('#emitenList option:selected');
                var periode = $('#periodList option:selected').val();

                if (selectedEmitenType !== undefined && selectedEmitenType.length > 0) {
                    for (var i = 0; i < selectedEmitenType.length; i++) {
                        emitenCode += $(selectedEmitenType[i]).val();

                        if (i < selectedEmitenType.length - 1) {
                            emitenCode += ';';
                        }
                    }
                }

                if (reportType === 'rda') {
                    periode = '';
                }

                if (selectedYear === '@Umbraco.GetDictionaryValue("others")') {                    
                    var windowLocation = window.open('http://idx.ticmi.co.id/?ReportType=' + reportType + '&ExchangeType=s&kodeemiten=' + emitenCode + '&periode=' + periode, '_blank');
                    windowLocation.location();
                    return;
                }

                $http.get('@Url.Action("GetFinancialReport", "ListedCompany")' + 
                    '?indexFrom=' + (pageNumber) + 
                    '&pageSize=' + $scope.limit + 
                    '&year=' + selectedYear +
                    '&reportType=' + reportType + 
                    '&periode=' + periode + 
                    '&kodeEmiten=' + emitenCode)
                .then( function(result) {                    
                    var data = result.data;
                    $scope.users = data.Results;
                    $scope.totalUsers = data.ResultCount;
                    $scope.loading = false;
                });
            }

        }])
    </script>
}