@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@section Styles {
    <link href="@Url.Content("/assets/css/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
}

<main class="sticky-footer-container-item --pushed">
    <div class="container top-space">
        @{
            IPublishedContent current = (CurrentPage);
            Stack<dynamic> pages = new Stack<dynamic>();
            while (current.Level > 1)
            {
                pages.Push(current);
                current = current.Parent;
            }
        }

        <ul class="breadcrumb block">
            <li><a href="/"><span class="fa fa-home"></span></a></li>
            @foreach (var page in pages)
            {
                var cls = page.Id == CurrentPage.Id ? "current" : "";
                if (page.DocumentTypeId != 1237){
                    <li class="@cls"><a href="@page.Url">@page.Name</a></li>                    
                } else {
                    <li class="@cls"><a href="" class="disable"><span>@page.Name</span></li>
                }
            }
        </ul>
        <div class="page-title-container">
            <h1 class="page-title">@Umbraco.TypedContent(CurrentPage.Id).PageTitle</h1>
        </div>
        <div action="" class="">
            <div class="block flex v-center">
                <span class="form-label-announcement">@Umbraco.GetDictionaryValue("maturity year")</span>
                <select name="year" id="yearList" class="form-input form-input--block select2-js">
                </select>
            </div>
            <div class="block flex v-center">
                <span class="form-label-announcement">@Umbraco.GetDictionaryValue("code")</span>
                <select name="issuer" id="issuerList" class="form-input form-input--block select2-js">
                    <option></option>
                </select>
            </div>
            <div class="block flex v-center">
                <span class="form-label-announcement">@Umbraco.GetDictionaryValue("type")</span>
                <select name="type" id="typeList" class="form-input form-input--block select2-js">
                </select>
            </div>
            <div class="block-double">
                <button class="btn btn-primary" onclick="getGovBond()">@Umbraco.GetDictionaryValue("search")</button>
            </div>
        </div>
    </div>
    <div class="main-content content-push">
        <div class="container">
            <div class="block">
                <p>@Umbraco.GetDictionaryValue("search all by code")</p>
                <div class="">
                    <a href="" class="btn btn-alphabet">A</a>
                    <a href="" class="btn btn-alphabet">B</a>
                    <a href="" class="btn btn-alphabet">C</a>
                    <a href="" class="btn btn-alphabet">D</a>
                    <a href="" class="btn btn-alphabet">E</a>
                    <a href="" class="btn btn-alphabet">F</a>
                    <a href="" class="btn btn-alphabet">G</a>
                    <a href="" class="btn btn-alphabet">H</a>
                    <a href="" class="btn btn-alphabet">I</a>
                    <a href="" class="btn btn-alphabet">J</a>
                    <a href="" class="btn btn-alphabet">K</a>
                    <a href="" class="btn btn-alphabet">L</a>
                    <a href="" class="btn btn-alphabet">M</a>
                    <a href="" class="btn btn-alphabet">N</a>
                    <a href="" class="btn btn-alphabet">O</a>
                    <a href="" class="btn btn-alphabet">P</a>
                    <a href="" class="btn btn-alphabet">Q</a>
                    <a href="" class="btn btn-alphabet">R</a>
                    <a href="" class="btn btn-alphabet">S</a>
                    <a href="" class="btn btn-alphabet">T</a>
                    <a href="" class="btn btn-alphabet">U</a>
                    <a href="" class="btn btn-alphabet">V</a>
                    <a href="" class="btn btn-alphabet">W</a>
                    <a href="" class="btn btn-alphabet">X</a>
                    <a href="" class="btn btn-alphabet">Y</a>
                    <a href="" class="btn btn-alphabet">Z</a>
                    <a href="" class="btn btn-alphabet is-active">@Umbraco.GetDictionaryValue("All")</a>
                </div>
            </div>
            <div class="block">
                <table id="bondTable" class="table table--zebra table-content-page">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>@Umbraco.GetDictionaryValue("code")</th>
                            <th>@Umbraco.GetDictionaryValue("name")</th>
                            <th>@Umbraco.GetDictionaryValue("Outstanding Value")</th>
                            <th>@Umbraco.GetDictionaryValue("Maturity Date")</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
</main>

@section Scripts{
    <script type="text/javascript" src="/assets/js/vendor/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(function () {   
            $('.btn-alphabet').on('click', function(e){
                e.preventDefault();
                $('.btn-alphabet').removeClass('is-active');
                $(this).addClass('is-active');
                $('#nameInput').val('');
                getGovBond();
            });

            getMaturityYear();
            getGovBond();
            getIssuerCode();
            getBondCategory();
        });

        function getIssuerCode(){
            // $('#issuerList').append('<option value="">' + '@Umbraco.GetDictionaryValue("choose code")</button>' + '</option>')
            // $.get('@Url.Action("GetGovIssuer", "BondSukuk")?instrumentType=', function (result) {
            //     for (var i = 0; i < result.Items.length; i++) {
            //         $('#issuerList').append('<option value="' + result.Items[i].Id + '">' + result.Items[i].Id + '</option>')
            //     }
            // });

            $('#issuerList').select2({
                ajax: {
                    url: '@Url.Action("GetGovIssuer", "BondSukuk")',
                    delay: 250,
                    data: function (params) {
                        var query = {
                            pageNumber: params.page || 1,
                            //keyword: params.term
                        }
                        return query;
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;

                        var select2Data = $.map(data.Items, function (obj) {
                            obj.id = obj.Id;
                            obj.text = obj.Id;
                            return obj;
                        });

                        return {
                            results: select2Data,
                            pagination: {
                              more: (params.page * 25) < data.ItemCount
                            }
                        };
                    },
                    cache: true
                },
                width:'100%',
                allowClear: true,
                placeholder: '@Umbraco.GetDictionaryValue("choose code")',
                templateResult: function (data) { return data.text; },
                templateSelection: function (data) { return data.text; }
            });
        }

        function getBondCategory(){
            $('#typeList').append('<option value="">' + '@Umbraco.GetDictionaryValue("choose type")</button>' + '</option>')
            $.get('@Url.Action("GetGovBondCategory", "BondSukuk")?langId=' + currentLang, function (result) {
                for (var i = 0; i < result.Items.length; i++) {
                    $('#typeList').append('<option value="' + result.Items[i].Id + '">' + result.Items[i].Id + ' - ' + result.Items[i].Name + '</option>')
                }
            });
        }

        function getMaturityYear(){
            $('#yearList').append('<option value="">' + '@Umbraco.GetDictionaryValue("select year")</button>' + '</option>')
            $.get('@Url.Action("GetMaturityYear", "Helper")', function (result) {
                for (var i = 0; i < result.length; i++) {
                    $('#yearList').append('<option value="' + result[i] + '">' + result[i] + '</option>')
                }
            });
        }

        function getGovBond(){
            if($.fn.DataTable.isDataTable('#bondTable')){
                var selectedYear = $('#yearList option:selected').val();
                var selectedIssuerCode = $('#issuerList option:selected').val();
                var selectedType = $('#typeList option:selected').val();

                var selectedAlphabet = $('.btn-alphabet.is-active').text();

                if (selectedAlphabet !== '@Umbraco.GetDictionaryValue("All")') {
                    selectedIssuerCode = selectedAlphabet;
                }

                var url = '@Url.Action("GetBondGovSearch", "BondSukuk")' + '?yearMatured=' + selectedYear + 
                '&bondId=' + selectedIssuerCode + 
                '&bondCategory=' + selectedType + 
                '&langId=' + currentLang;
                $('#bondTable').DataTable().ajax.url(url).load();
            }else {
                $('#bondTable').dataTable({
                    'ajax': {
                        'url': '@Url.Action("GetBondGovSearch", "BondSukuk")',
                    },
                    'filter': false,
                    'sort': false,
                    'serverSide': true,
                    'processing': true,
                    'paging': true,
                    'deferRender': true,
                    'columns': [
                        { 'data': 'Id' },
                        { 'data': 'Id' },
                        { 'data': 'Name' },
                        { 
                            'data': 'Outstanding',
                            'createdCell' : function (td, cellData, rowData, row, col) {
                                return $(td).addClass('text-right');
                            },
                            'render' : function ( data, type, row, meta ) {
                                return data.toLocaleString(currentLang);
                            }
                        },
                        {
                            'data': 'MatureDate',
                            render: function( data, type, full, meta ) {
                                return moment(data, "YYYY-MM-DDT00:00:00").locale(currentLang).format('DD MMM YYYY');
                            }
                        },
                    ],
                    'columnDefs': [
                        {
                            'targets': [0,1],
                            'createdCell' : function (td, cellData, rowData, row, col) {
                                return $(td).addClass('text-center');
                            }
                        },
                    ],
                    "rowCallback": function (row, data, iDisplayIndex) {
                        var info = this.api().page.info();
                        var page = info.page;
                        var length = info.length;
                        var index = (page * length + (iDisplayIndex + 1));
                        $('td:eq(0)', row).html(index);
                    },
                });                     
            }
        }

    </script>
}