@using System.Configuration
@using IDXWeb.Models;
@using Newtonsoft.Json;
@using System.IO;
@using System.Net.Http;

@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    List<MostActiveBrokerageVM> items = new List<MostActiveBrokerageVM>();
    using (var client = new HttpClient())
    {
        var url = ConfigurationManager.AppSettings["LINK_MOST_ACTIVE_BROKERAGE_VALUE_YTD"];
        //HTTP GET
        var responseTask = client.GetAsync(url);
        responseTask.Wait();

        var result = responseTask.Result;
        if (result.IsSuccessStatusCode)
        {
            var readTask = result.Content.ReadAsAsync<List<MostActiveBrokerageVM>>();
            readTask.Wait();

            items = readTask.Result;

        }
    }

    var counter = 1;
}
<main class="sticky-footer-container-item --pushed">
    <div class="container top-space">
        @{
            IPublishedContent current = (CurrentPage);
            Stack<dynamic> pages = new Stack<dynamic>();
            while (current.Level > 1)
            {
                pages.Push(current);
                current = current.Parent;
            }
        }
        <ul class="breadcrumb block">
            <li><a href="/"><span class="fa fa-home"></span></a></li>
            @foreach (var page in pages)
            {
                var cls = page.Id == CurrentPage.Id ? "current" : "";
                <li class="@cls"><a href="@page.Url">@page.Name.ToLower()</a></li>
            }
        </ul>
        <div class="page-title-container">
            <h1 class="page-title">Statistik</h1>
        </div>
        <div class="content-tab-container block content-tab-container--center">
            <div class="content-tab-item">
                <a href="#monthly" class="content-tab-anchor statistic-tab-js is-active">Monthly</a>
            </div>
            <div class="content-tab-item">
                <a href="#quarterly" class="content-tab-anchor statistic-tab-js">Quarterly</a>
            </div>
            <div class="content-tab-item">
                <a href="#yearly" class="content-tab-anchor statistic-tab-js">Yearly</a>
            </div>
        </div>
    </div>
    <div class="statistic-main-content">
        <div class="statistic-container is-active" id="monthly">
            <div class="background-light-grey content-push">
                <div class="container mb-16">
                    <div class="statistic--title-area mb-20">
                        <h2 class="mb-0">Most Active Brokerage House in Total  Trading Value (YTD)</h2>
                        <div class="download-toggle-area">
                            <button class="btn btn-primary download-toggle is-active" type="button" data-toggle="#searchList">
                                Download
                                <i class="fa fa-caret-down ml-8"></i>
                                <ul class="download-list full-width" id="searchList">
                                    <li><a href="#">PDF</a></li>
                                    <li><a href="#">Excel</a></li>
                                </ul>
                            </button>
                        </div>
                    </div>
                    <form class="report-search" action="">
                        <div class="report-search-main">
                            <i class="fa fa-search red fa-lg"></i>
                            <input class="form-input" type="text" placeholder="Search this report">
                            <button class="toggle-options btn btn-primary" type="button">
                                <i class="fa fa-ellipsis-v fa-lg"></i>
                            </button>
                        </div>
                        <div class="report-search-options">
                            <div class="bzg">
                                <div class="bzg_c" data-col="s4">
                                    Type:
                                </div>
                                <div class="bzg_c" data-col="s8,m6,l8">
                                    <select class="form-input form-input--block js-select-url" name="" id="">
                                        <option value="" data-url="most-active-brokerage-by-total-value" selected>Value</option>
                                        <option value="" data-url="most-active-brokerage-by-total-frequency">Frequency</option>
                                    </select>
                                </div>
                            </div>
                            <div class="bzg">
                                <div class="bzg_c" data-col="s4">
                                    Month:
                                </div>
                                <div class="bzg_c" data-col="s8,m6,l8">
                                    <select class="form-input form-input--block" name="" id="">
                                        <option value="">January</option>
                                        <option value="">February</option>
                                        <option value="">March</option>
                                        <option value="">April</option>
                                        <option value="">May</option>
                                        <option value="">June</option>
                                        <option value="">July</option>
                                        <option value="">August</option>
                                        <option value="">September</option>
                                        <option value="">October</option>
                                        <option value="">November</option>
                                        <option value="">December</option>
                                    </select>
                                </div>
                            </div>
                            <div class="bzg">
                                <div class="bzg_c" data-col="s4">
                                    Year:
                                </div>
                                <div class="bzg_c" data-col="s8,m6,l8">
                                    <select class="form-input form-input--block" name="" id="">
                                        <option value="">2019</option>
                                    </select>
                                </div>
                            </div>
                            <div class="bzg">
                                <div class="bzg_c">
                                    <button class="btn btn-primary">
                                        <i class="fa fa-filter mr-8"></i>
                                        Filter
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="background-white content-push">
                <div class="container mb-16">
                    <div class="table-wrapper">
                        <table class="statistic-table">
                            <thead class="thead-plain">
                                <tr>
                                    <th rowspan="2">No</th>
                                    <th class="text-left" rowspan="2">Brokerage Firms</th>
                                    <th class="short" colspan="3">Regular</th>
                                    <th rowspan="2"></th>
                                    <th class="short" colspan="3">Non Regular</th>
                                    <th rowspan="2"></th>
                                    <th class="short" colspan="3">Total</th>
                                </tr>
                                <tr class="text-right">
                                    <th class="short">Vol.</th>
                                    <th class="short">Value</th>
                                    <th class="short">Freq.</th>
                                    <th class="short">Vol.</th>
                                    <th class="short">Value</th>
                                    <th class="short">Freq.</th>
                                    <th class="short">Vol.</th>
                                    <th class="short">Value</th>
                                    <th class="short">Freq.</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in items)
                                {
                                    <tr class="text-right">
                                        <td>@counter.</td>
                                        <td class="text-left">@item.BrokerageName</td>
                                        <td>@item.RegulerVol</td>
                                        <td>@item.RegulerVal</td>
                                        <td>@item.RegulerFreq</td>
                                        <td></td>
                                        <td>@item.NonRegulerVol</td>
                                        <td>@item.NonRegulerVal</td>
                                        <td>@item.NonRegulerFreq</td>
                                        <td></td>
                                        <td>@item.TotalVol</td>
                                        <td>@item.TotalVal</td>
                                        <td>@item.TotalFreq</td>
                                    </tr>
                                    counter++;
                                }
                            </tbody>
                            <tfoot class="text-right">
                                <tr>
                                    <td class="no-border"></td>
                                    <td class="text-left no-border">Total of The 20 Brokerages</td>
                                    <td class="no-border">131,985</td>
                                    <td class="no-border">132,585</td>
                                    <td class="no-border">8,678,488</td>
                                    <td class="no-border"></td>
                                    <td class="no-border">51,303</td>
                                    <td class="no-border">75,175</td>
                                    <td class="no-border">13,547</td>
                                    <td class="no-border"></td>
                                    <td class="no-border">183,288</td>
                                    <td class="no-border">207,760</td>
                                    <td class="no-border">8,690,035</td>
                                </tr>
                                <tr>
                                    <td class="no-border"></td>
                                    <td class="text-left no-border">% of Total Transaction</td>
                                    <td class="no-border">42.9%</td>
                                    <td class="no-border">62.8%</td>
                                    <td class="no-border">61.5%</td>
                                    <td class="no-border"></td>
                                    <td class="no-border">35.9%</td>
                                    <td class="no-border">73.1%</td>
                                    <td class="no-border">40.3%</td>
                                    <td class="no-border"></td>
                                    <td class="no-border">40.7%</td>
                                    <td class="no-border">66.2%</td>
                                    <td class="no-border">61.5%</td>
                                </tr>
                                <tr>
                                    <td class="no-border"></td>
                                    <td class="text-left no-border">Total Transaction</td>
                                    <td class="no-border">307,887</td>
                                    <td class="no-border">211,127</td>
                                    <td class="no-border">14,104,504</td>
                                    <td class="no-border"></td>
                                    <td class="no-border">142,856</td>
                                    <td class="no-border">102,805</td>
                                    <td class="no-border">33,648</td>
                                    <td class="no-border"></td>
                                    <td class="no-border">450,742</td>
                                    <td class="no-border">313,932</td>
                                    <td class="no-border">14,138,152</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @*<?php include $path.'_partials/statistic-quarterly.php'; ?>
            <?php include $path.'_partials/statistic-yearly.php'; ?>*@
    </div>
</main>


