@using umbraco.MacroEngines
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}
<main class="sticky-footer-container-item --pushed">
    <div class="container top-space">
        @{
            IPublishedContent current = (CurrentPage);
            Stack<dynamic> pages = new Stack<dynamic>();
            while (current.Level > 1)
            {
                pages.Push(current);
                current = current.Parent;
            }
        }

        <ul class="breadcrumb block">
            <li><a href="/"><span class="fa fa-home"></span></a></li>
            @foreach (var page in pages)
            {
                var cls = page.Id == CurrentPage.Id ? "current" : "";
                if (page.DocumentTypeId != 1237){
                    <li class="@cls"><a href="@page.Url">@page.Name</a></li>                    
                } else {
                    <li class="@cls"><a href="" class="disable"><span>@page.Name</span></a></li>
                }
            }
        </ul>
        <div class="page-title-container">
            <h1 class="page-title">@CurrentPage.Name</h1>
        </div>
        <div class="relative padding-space">
            <a href="" class="btn-prev-icon"><span class="fa fa-chevron-left"></span></a>
            @{
                if (Model.Content.HasProperty("pictures"))
                {
                    var mediaId = Request.Url.ToString().Contains("en-us") ? 1933 : 1934;
                    var folder = new DynamicMedia(mediaId);
                    var childrenItems = folder.Children.Items.OrderBy(x => x.Name).ToList();
                    if (childrenItems.Any())
                    {
                        var initialSlide = childrenItems.Count() - 1;
                        <div class="holiday-slider" data-slick='{"fade": true, "initialSlide": @initialSlide}'>
                            @for (var i = 0; i < childrenItems.Count(); i++)
                            {
                                if (childrenItems[i].NodeTypeAlias == "Image")
                                {
                                    var image = Umbraco.Media(childrenItems[i].Id);

                                    <div class="holiday-slider-item">
                                        <img src="@image.Url" alt="@image.Name">
                                    </div>
                                }
                            }
                        </div>
                    }
                }
            }
            <a href="" class="btn-next-icon"><span class="fa fa-chevron-right"></span></a>
        </div>
        <!-- <div class="text-right block">
            <a href="" class="btn btn-primary --rounded"><span class="fa fa-download"></span> @Umbraco.GetDictionaryValue("download")</a>
        </div> -->
    </div>
</main>